<div class="events-for-member-title-media">
  <a data-href="url" data-content="eventName"></a>
</div>
<div class="events-for-member-container news--group">
  <div class="events-for-member-row">
    <div class="events-for-member-date-row">
      <div data-content="day"></div>
      <div data-content="month"></div>
      <div data-content="year"></div>
    </div>
    <div class="events-for-member-title-container">
      <div class="events-for-member-date" data-content="date"></div>
      <div class="events-for-member-title news--group-title">
        <a data-href="url" data-content="eventName"></a>
      </div>
      <!-- <div class="sub-hero">
        <div class="container">
          <a class="category" data-href="url">Read more</a>
        </div>
      </div> -->
    </div>
  </div>
</div>