<div class="footer-component">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-auto">
          <img data-src="logo" alt="snap-footer-logo" class="footer-logo">
        </div>
        <div class="col-6 col-md-auto">
          <h6>Research</h6>
          <ul>
            <li class="nav-link">
              <a data-href="allTeam">Team</a>
            </li>
            <li class="nav-link">
              <a data-href="publications">Publications</a>
            </li>
            <li class="nav-link">
              <a data-href="news">Research News</a>
            </li>
            <li class="nav-link">
              <a href="https://www.snap.com/jobs/?teams=Research" target="_blank" rel="noopener noreferrer">Careers</a>
            </li>
            <li class="nav-link">
              <a href="https://snap.submittable.com/submit" target="_blank" rel="noopener noreferrer">Internships</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-auto">
          <h6>Company</h6>
          <ul>
            <li class="nav-link">
              <a href="https://www.snap.com/" target="_blank" rel="noopener noreferrer">Snap Inc.</a>
            </li>
            <li class="nav-link">
              <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer">Snapchat</a>
            </li>
            <li class="nav-link">
              <a href="https://newsroom.snap.com" target="_blank" rel="noopener noreferrer">News</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
        <!-- <div class="col-6 col-md-auto"> -->
          <h6>Legal</h6>
          <ul>
            <li class="nav-link">
              <a href="https://www.snap.com/privacy/privacy-center/" target="_blank" rel="noopener noreferrer">Privacy Center</a>
            </li>
            <li class="nav-link">
              <a href="https://www.snap.com/cookie-policy/" target="_blank" rel="noopener noreferrer">Cookie Policy</a>
            </li>
            <li class="nav-link">
              <a href="https://support.snapchat.com/co/report-copyright" target="_blank" rel="noopener noreferrer">Copyright</a>
            </li>
            <li class="nav-link">
              <a href="https://www.snapchat.com/create/terms.html" target="_blank" rel="noopener noreferrer">Community Filter Terms and Conditions</a>
            </li>
            <li class="nav-link">
              <a href="https://www.snap.com/terms/on-demand-geofilters/" target="_blank" rel="noopener noreferrer">On-Demand Geofilter Terms and Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row sub m-0">
      <div class="container">
        <ul>
          <li>
            <a href="https://www.snap.com/privacy/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
          </li>
          <li>
            <a href="https://www.snap.com/terms/" target="_blank" rel="noopener noreferrer">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
