<div class="home-research-component">
  <div class="home--research">
    <div class="container">
      <div class="row">
        <div class="col col-md-4 left">
          <div>
            <h1 class="title">Mission</h1>
            <h2 class="subtitle">
              Snap Research serves as an innovation engine for Snap Inc. Our projects range from
              solutions to hard technical problems that significantly enhance Snap’s existing products, to riskier
              explorations that can lead to fundamental paradigm shifts in the way people communicate and express
              themselves.
            </h2>
          </div>
        </div>
        <div class="col col-md-8 right">
          <div>
            <ul>
              <li>
                <a href="team/category/computational-imaging.html">
                  <span>
                    <div class="image-corner">
                      <img src="//images.ctfassets.net/btheynltg5cn/6THmXttjbR8BnS3PlgbcKc/84b549fbf7d2686a8b4f56903a0f1c29/Computational_Imaging_.png" alt="">
                    </div>
                    Computational Imaging
                  </span>
                </a>
              </li>
              <li>
                <a href="team/category/computational-social-science.html">
                  <span>
                    <div class="image-corner">
                      <img src="//images.ctfassets.net/btheynltg5cn/42K7sQ968p85CPS6E0kd19/9518d8fae2b150062679caf34c810de9/Natural_Language_Processing_.png" alt="">
                    </div>
                    Computational Social Science
                  </span>
                </a>
              </li>
              <li>
                <a href="team/category/human-computer-interaction.html">
                  <span>
                    <div class="image-corner">
                      <img src="//images.ctfassets.net/btheynltg5cn/2bbqVva7cGWgf9wOqPx5qc/cb4520d5554591e966dcf4cce6f91834/Human_Computer_Interactions.png" alt="">
                    </div>
                    Human Computer Interaction
                  </span>
                </a>
              </li>
              <li>
                <a href="team/category/creative-vision.html">
                  <span>
                    <div class="image-corner">
                      <img src="//images.ctfassets.net/btheynltg5cn/6WOcOXhwg7lfKd5EM9JpmZ/dcb7e6eafb2072930fcb58b39e88aa1e/Computer_Vision.png" alt="">
                    </div>
                    Creative Vision
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
