<div class="home-publication-component">
  <div class="home--publication">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">Publications</h1>
        </div>
      </div>
      <div class="row d-flex align-items-start justify-content-between m-0 mt-4 mb-3 home-publication-item-container"></div>
      <div class="row d-flex justify-content-center">
        <div class="col-auto">
          <a class="cta" href="publications.html">View more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="home-publication-list-item">
  <a class="card-outer" data-href="url">
    <div class="card">
      <div data-content="bgImage" data-format="ImageFormatter"></div>
      <div class="card--copy">
        <p data-content="title"></p>
      </div>
    </div>
  </a>
</script>

<script>
  $.addTemplateFormatter({
    ImageFormatter : function(value, template) {
      if(value === "") {
        return ""
      } else {
        return `<img class="card--bg-image" data-src="bgImage" />`
      }
    }
  });
  $(function () {
    const mainPublications = getPublicationsByIDs([103,98,67,80,77], '', true);
    $('.home-publication-item-container').loadTemplate($("#home-publication-list-item"), mainPublications);
  });
</script>
