<div class="join-our-team-component">
  <div class="home--careers Left">
    <div class="home--careers-bg-image" style="background-image: url('//images.ctfassets.net/btheynltg5cn/1Ju2ph2AO57uOPs6vxYkgL/6bc08910636d05b1e27050a4129a42fd/img-header.jpg');"></div>
    <div class="home--careers-copy">
      <h2>Join Our Team</h2>
      <a href="https://www.snap.com/jobs/?teams=Research" target="_blank" rel="noopener noreferrer" class="cta mr-4">
        View Full Time Roles
      </a>
      <a href="https://snap.submittable.com/submit" target="_blank" rel="noopener noreferrer" class="cta">
        Apply to Internships
      </a>
    </div>
  </div>
</div>
