<div class="publication--group">
  <div class="publication--group-title">
    <span data-content="date">March 15, 2021</span><br>
    <a data-href="url" data-content="title"></a></div>
  <div class="publication--group-authors" data-content="authors"></div>
  <div class="publication--group-event">
    <span class="bolded">Event</span>
    <span data-content="eventShort"></span>
  </div>
  <div class="publication--group-research-areas">
    <span>Research Areas</span>
    <span class="research-areas" data-content="researchArea"></span>
  </div>
</div>
