<div class="col">
  <div class="card">
    <a data-href="url">
      <div class="card-inner">
        <div class="card--bg-image-outer">
          <img class="card--bg-image-inner" data-src="imageUrl" alt="">
          <div class="card--copy">
            <p class="mb-0" data-content="name"></p>
          </div>
        </div>
      </div>
    </a>
    <div >
      <a data-href="email" target="_blank">
        <div class="card--email" data-class="showEmail">
          <img src="../../img/email.svg" alt="email">
          <div>&nbsp;&nbsp;</div>
          <div class="card--email-text">contact</div>
        </div>
      </a>
  </div>
</div>